In [33]:
import pandas as pd
import numpy as np
import json

In [60]:
df = pd.read_excel("Example_data_file.xlsx",sheet_name ='Master data',index_col='Case')

In [83]:
df.head()

,p1,p2,p3,p4,p5,p6
Case,,,,,,
340,"{""0"":[1175,531],""1"":[1206,539],""2"":[1170,504],...","{""3"":[904,426],""4"":[630,303],""5"":[537,256],""6""...","{""2"":[904,488],""4"":[774,443],""5"":[652,383],""6""...","{""8"":[542,319],""9"":[517,314],""10"":[504,309],""2...","{""0"":[398,171],""1"":[396,170],""2"":[402,166],""3""...","{""1"":[768,278],""2"":[765,280],""3"":[763,280],""6""..."
359,"{""1"":[449,229],""3"":[443,254],""4"":[447,283],""5""...","{""0"":[458,634],""1"":[480,614],""2"":[660,514],""3""...","{""0"":[763,450],""1"":[866,425],""2"":[877,424],""3""...","{""0"":[710,579],""1"":[705,594],""2"":[712,652],""3""...","{""0"":[945,324],""1"":[971,324],""2"":[976,331],""3""...","{""2"":[875,492],""5"":[863,488],""6"":[840,479],""7""..."
380,"{""1"":[1083,288],""2"":[1096,299],""5"":[1139,300],...","{""0"":[1151,605],""1"":[1224,525],""2"":[1236,515],...","{""0"":[1125,427],""1"":[1126,426],""7"":[1308,393],...","{""12"":[1096,413],""13"":[872,396],""14"":[836,394]...","{""0"":[1121,504],""1"":[1136,486],""2"":[1137,486],...","{""13"":[993,446],""14"":[860,421],""15"":[805,412],..."
381,"{""0"":[977,447],""1"":[989,438],""3"":[994,439],""4""...","{""236"":[526,553],""237"":[504,520],""238"":[478,49...","{""0"":[763,363],""1"":[779,352],""9"":[746,351],""10...","{""120"":[704,361],""121"":[660,366],""122"":[630,38...","{""0"":[1013,430],""269"":[1013,755],""270"":[979,79...","{""189"":[906,509],""190"":[872,426],""191"":[859,38..."
383,"{""6"":[544,248],""7"":[578,343],""8"":[589,429],""9""...","{""2"":[565,596],""3"":[695,483],""10"":[731,460],""1...","{""1"":[605,550],""2"":[998,413],""3"":[1009,401],""1...","{""0"":[926,618],""1"":[1004,478],""2"":[1013,440],""...","{""1"":[919,540],""2"":[1032,416],""8"":[1013,417],""...","{""3"":[900,547],""4"":[947,454],""5"":[955,422],""25..."

In [84]:
#Set Case as the index, which later on going to be appended to our aggregated list
case = df.index.tolist()

In [85]:
case[0]

340

In [86]:
#find the max row and max col to iterate through
row = df.shape[0]
col = df.shape[1]

In [123]:
#define aggregation function and interate through 
agg_df = pd.DataFrame(columns = ['Case','Time','Position_x','Position_y'])
for i in range(row):
    for c in range(col):
        temp = df.iloc[i,c]
        temp_json = json.loads(temp)
        temp_df = pd.DataFrame.from_dict(temp_json).T
        temp_df.insert(0, 'Time', temp_df.index)
        temp_df.reset_index(drop=True, inplace=True)
        temp_df.insert(0, 'Case', case[i])
        temp_df = temp_df.rename(columns={temp_df.columns[2]: "Position_x",temp_df.columns[3]: "Position_y"})
        agg_df = agg_df.append(temp_df, ignore_index=True)

In [124]:
#check out result's shape
agg_df.shape

(12097, 4)

In [125]:
agg_df.head()

  Case Time Position_x Position_y
0  340    0       1175        531
1  340    1       1206        539
2  340    2       1170        504
3  340    3       1157        492
4  340    4       1118        463

In [127]:
agg_df.to_csv('Json_expended.csv',index = False)